-
  const data = [
    {
      "title": "Consultancy",
      "text": "We help discover the right strategies for Web3 companies' set-ups, vision, and mission and navigate you through all the business stages, from kickstart ideation to turning concepts into cutting-edge solutions and matured business.",
      "button": "Book consultation",
      "imageName": "1"
    },
    {
      "title": "Infrastructure",
      "text": "We're a are a dynamic hub of turn-key blockchain-based solutions that you may use for your product, whether it's trading platforms, distributed ledgers, DeFi or DAOs.",
      "button": "Explore",
      "imageName": "2"
    },
    {
      "title": "Venture Capital",
      "text": "Having solid relationships with traditional investment partners and advanced web3 investment ecosystems, crypto exchanges, accelerators and DAOs, we're a reliable partner to start your web3 project.",
      "button": "Let’s talk",
      "imageName": "3"
    }
  ]
